*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.dark-bg{
    background-color: #1F2937;
}

.flex{
    display: flex;
}

.center{
    justify-content: center;
    align-items: center;
}

.col{
    display: flex;
    flex-direction: column;
}

.white-text{
    color: white;
}

.low-contr-text{
    color: #E5E7EB;
    font-size: 18px;
}

.bold{
    font-weight: bold;
}

header{
    justify-content: center;
    gap: 47vw;
    color: white;
    height: 3.5rem;
    align-items: center;
}

header img{
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: white;
}

footer{
    height: 3rem;
    padding:10px 0;
}

.header-link{
    margin-left: 5px;
    margin-right: 5px;
}

.awesome{
    justify-content: space-around;
    height: 400px;
    padding: 5rem;
}

.awesome-text{
    width: 25vw;
}

.awesome-text h1{
    font-size: 48px;
    margin-bottom: 10px;
    color: #F9FAF8;
}

.awesome-text p{
    margin-bottom: 10px;
}

.awesome img{
    background-color: rgba(200, 198, 198, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-button{
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: white;
    width: 7rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 8px;
}

.placeholder{
    width: 35vw;
    height: 30vh;
    flex-shrink: 1;
}

.random-info{
    justify-content: space-around;
    height: 400px;
}

.squares{
    width: 100vw;
    justify-content: space-evenly;
}

.blue-square{
    border: #3882F6 solid 3px;
    border-radius: 15px;
    width: 200px;
    height: 200px;
}

.square-text{
    width: 200px;
    text-align: center;
    color: #78808a;
    margin-top: 10px;
}

.inspire{
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    height: 400px;
}

.quote{
    width: 50vw;
    padding: 60px;
    text-align: justify;
}

.author{
    display: flex;
    justify-content: end;
    margin-top: 10px;
    font-style: normal;
    font-size: 26px;
}

.blue-bg{
    background-color: #3882F6;
}

.action{
    height: 400px;
}

.call-to-action{
    padding: 20px;
    width: 75vw;
    height: 5rem;
    border-radius: 5px;
    justify-content: space-around;
}

.white-blue-button{
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    width: 7rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 8px;
}